@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

@layer base {
  body,
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }

  main,
  body {
    @apply bg-white dark:bg-black;
  }

  nav {
    @apply bg-white/30 dark:bg-neutral-900/30;
  }

  .navlink-color {
    @apply text-zinc-500 dark:text-gray-500 hover:bg-zinc-200 hover:text-black hover:dark:bg-neutral-500 hover:dark:text-white;
  }

  .link-color {
    @apply text-blue-500 dark:text-pink-500 hover:underline hover:underline-offset-2;
  }

  .theme-button-color {
    @apply bg-gradient-to-r from-blue-500 to-green-400 dark:from-pink-500 dark:to-yellow-500;
  }

  .banner-color {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500 dark:from-pink-500 dark:to-yellow-500;
  }

  .main-text-color {
    @apply text-black dark:text-white;
  }

  .sub-text-color {
    @apply text-zinc-500 dark:text-gray-500;
  }

  .social-color {
    @apply hover:bg-blue-200 dark:text-pink-500 dark:hover:bg-pink-200 text-blue-500;
  }

  .badge-color {
    @apply bg-emerald-200 text-emerald-600 dark:bg-yellow-100 dark:text-yellow-800;
  }

  .button {
    @apply inline-flex items-center px-4 py-2 rounded-md gap-2 tracking-wide transition-all;
  }

  .button-color-main {
    @apply bg-black text-white border border-black 
    dark:text-black dark:bg-white dark:border-white 
    hover:bg-white hover:border-black hover:text-black 
    dark:hover:bg-black dark:hover:border-white dark:hover:text-white;
  }

  .button-color-outline {
    @apply text-zinc-500 bg-white border border-zinc-500 
           hover:text-black hover:border-black 
           dark:bg-black dark:text-gray-500 dark:border-gray-500 
           dark:hover:border-white dark:hover:text-white;
  }

  .input {
    @apply outline-none rounded-lg px-3 py-2 transition-all;
  }

  .input-color {
    @apply bg-transparent border border-zinc-300 main-text-color dark:border-gray-500;
  }
}
